body {
  background: {
    image: url(../images/bg-pattern.svg);
    repeat: no-repeat;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;

  // root
  background-color: var(--neutral-Very-Pale-Blue);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

header {
  background: {
    image: url(../images/pattern-circles.svg);
    repeat: no-repeat;
    position: center;
  }
}

.container {
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  //center div
  margin: auto;
  max-width: 540px;

  // root
  background-color: var(--neutral-White);
}

// pricing
.pricing {
  display: flex;
  flex-direction: column;

  // root
  color: var(--neutral-Grayish-Blue);

  &__header {
    text-align: center;
    margin: 5.625rem 0;

    // root
    color: var(--neutral-Grayish-Blue);
    font-weight: var(--fw-600);

    &-title {
      font-size: 1.875rem;

      // root
      color: var(--neutral-Dark-Desaturated-Blue);
      font-weight: var(--fw-800);
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem 2rem;

    &-views {
      text-transform: uppercase;
      letter-spacing: 2px;

      // root
      font-weight: var(--fw-800);
    }

    &-price {
      font-size: 2.8rem;

      // root
      font-weight: var(--fw-800);
      color: var(--neutral-Dark-Desaturated-Blue);
    }

    &-content p::before {
      content: url(../images/icon-check.svg);
      margin-right: 1rem;
    }

    &-center {
      display: flex;
      margin: auto;

      // root
      font-weight: var(--fw-600);
    }

    &-discount {
      // root
      border-radius: 5rem;
      font-size: 11px;
      padding: 0.2rem 0.3rem;
      text-align: center;

      background-color: var(--primary-Light-Grayish-Red);
      color: var(--primary-Light-Red);
    }
  }

  &__button {
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 170px;
    outline-color: transparent;

    // root
    background-color: var(--neutral-Dark-Desaturated-Blue);
    color: var(--neutral-Grayish-Blue);
  }
  &__button:hover {
    color: var(--primary-Pale-Blue);
  }
  &__button:active {
    transform: scale(0.98);
  }
}

// footer
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem 0;
  a {
    color: hsl(228, 45%, 44%);
  }
}
